html{
   background-color: #0c1027;
}
section{
    /* margin-bottom: 1%; */
    width: 65%;
    height: auto;
   
}
/* Navigation-bar */

.nav-bar {
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
height: 50px;
}
.features{
    width:200px;
}
.nav-bar span a{
    color:white;
    text-decoration: none;

}
.logo img{
    height:40px;
    width:60px;
}
.logo{
    height:50px;
    width:50px;
}
#nav-links{
    display: flex;
    list-style:none;
    align-items: center;
}
#nav-links li a{
    display: inline-block;
  padding: 10px 60px;
  text-decoration: none;
  color: white;
}
#search-box{
    padding:5px 20px;
    border-radius: 7%;
    margin:0px 70px;
    background-color: #12193e;
    color: white;
    width: 230px;
}
/* Album Covers */
.container{
    height: auto;
    /* width: 55%; */
    display: flex;
    justify-content: space-between;
    margin:3% 0 0 10%;
    align-content: center;
}
.container>div>img{
    height:220px;
    width: 180px;
    transition: all 0.3s ease-in-out;
}
.container>div>img:hover{
    transform: scale(1.3);
    box-shadow: 0px 0px 12px 0.1px rgb(131, 130, 130);
}


.cards-container{
    height: auto;
    width: 80%;
    margin:3% 0 0 10%;
    align-content: center;
}
.heading{
    color: white;
    font-size: 1.1rem;
    font-family: monospace;
    font-weight: 200;
}
.heading p{
    display: block;
    margin:0;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    justify-content: space-between;
    /* border: 2px solid red; */
    /* margin-right: 10%; */
    width: auto;
    height: auto;
}
.card {
    display: flex;
    min-width: 350px;
    color: white;
    margin-bottom: 2.5%;
    transition: all 0.3s ease-in-out;
    /* border: 2px solid white; */
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 12px 0.1px rgb(141, 140, 140);
}
.card-name{
    width:50%;
    margin-right:70px ;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 30px;
}
.card-time{
    font-size:0.8rem !important;
    margin-top: 30px;
}

.text{
    font-family: monospace;
    font-size: 1rem;
}
.date{
    margin:-20px 0px 0px 10px;
    font-family: sans-serif !important;
    font-size:0.65rem !important ;
}
.card-container>div>img{
    height:7rem;
    width: 7rem;
}
.card-info{
    display: flex;
    flex-wrap: wrap;
}


.artist-container{
    height: auto;
    /* width: 55%; */
    margin:3% 0 0 10%;
    align-content: center;
    /* border:2px solid white; */
}
.artists-list{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.artist img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
}
.artist img:hover{
    /* transform: scale(1.1); */
    box-shadow: 0px 0px 20px 1px rgb(141, 140, 140);
}
.artist p{
    color: white;
   font-family: sans-serif;
   font-size:0.8rem;
   text-align: center;
   margin-top: 10px;
}
.genre-container{
    background-color: #101642;
    min-width: 700px;
    margin:3% 0 0 10%;
    align-content: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height:200px;
    overflow:hidden;
}
.genre img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#genre1 img{
    height:140px;
    width:140px;
}

.themes-container{
    height: auto;
    /* width: 55%; */
    margin:3% 0 0 10%;
    align-content: center;
    display: flex;
    justify-content: space-between;
}
.theme-box{
    width: 19.5vw;
	height: 19vh;
	overflow: hidden;
	min-width: 123px;
	min-height: 82px;
	margin: 5px;
	cursor: pointer;
}
.theme-content{
    height:100%;
    width:100%;
    background-position: center;
    transition: all 0.3s ease-in-out;
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    background-size: cover;
}
.theme-content img{
    height:100%;
    width: 100%;
}
.theme-content span{
  color: white;
  font-size: 1rem;
  position: absolute;
  font-family: monospace;
}
.theme-box:hover .theme-content{
    transform: scale(1.3);
}